h1{
  font-family: 'Instrument Serif', serif;
}

p{
  font-family: monospace;
}

body{
  font-size: 20px;

  font-family: 'Barrio', cursive;

}

#two{
  font-size: 1.0em;
}

p{

font-family: 'Barrio', cursive;

  
}

h1{
  text-align: center;
}
